.fishList {
    flex-basis: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

.fish {
    border: 3px outset steelblue;
    padding: 1em;
    margin: 0.5em;
}

.fish_image {
    width: 8rem;
    height: 8rem;
}