@import "nav.css";
@import "fish.css";
@import "tips.css";


.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.bordered {
    border: 4px inset grey;
}

.body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQh2vugqnTT5i4hHdufibfdTjyr6g0tExnL6evpvp7wPXNcTeeF);
}