@import "nav.css";
@import "fish.css";
@import "tips.css";


.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.bordered {
    border: 4px inset grey;
}

.body {
    background-image: url(https://as2.ftcdn.net/jpg/00/90/01/27/500_F_90012774_qU2rrXXCllZxjK1vVHVnUIFGzzoKcvaI.jpg);
    background-size: 10%;
    background-color: lightblue;
}


