@import "nav.css";
@import "fish.css";
@import "tips.css";


.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.bordered {
    border: 4px inset grey;
}

.body {
    background-image: url(https://cdn1.iconfinder.com/data/icons/dining-and-food/32/fish-512.png);
    background-size: 5%;
    background-color: lightblue;
}